/* You can add global styles to this file, and also import other style files */
@import  url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@import "./scss/variables" ;


@font-face {
    font-family: 'Tajwal';
    src: url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
}
.pointer{
    cursor: pointer;
}
.rtl{
    direction: rtl;
}

.primaryText{
    color: $primaryColor !important;
}
.primaryBg{
    background: $primaryBg;
}
body{
    font-family: 'Tajawal',;

}

