
// Imports ---- 
@import "../../scss//variables";
@import  url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


@font-face {
    font-family: Tajwal;
    src: url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
}
// Imports ---- 


// Navbar and Header Styles -----
header{
    background: $primaryBg;
    direction: rtl;
    color: white;
}

.dropdown-item{
    font-weight: 700 !important;
}
.nav-link{
    font-size: 1.1rem;
}
.active{
    color: $primaryColor;
}
.nav-item:hover{
    color: $primaryColor !important;
}
.dropdown-menu{
    color: $primaryColor;
}
// Navbar Styles -----

.header-icon{
    width: 2%;
}

.multi-border { 

    border-left: 2px solid  #00AEEF;
    border-right:2px solid #0A053B;
    background-image: 
        linear-gradient(-90deg, #0A053B 50%, #00AEEF 50%),
        linear-gradient(-90deg, #0A053B 50%, #00AEEF 50%);
    background-size:100% 2px;
    background-position:0 0, 0 100%;
    background-repeat:no-repeat; 
    border-radius: 0.5rem;

} 