
<header class="py-2 px-5 d-flex justify-content-between">
    <div class="info d-flex">
        <p class="pt-1 mt-2 ms-5 me-0 pe-3 ps-5"> <i class="fa-solid fa-phone ps-2"></i> 0507292725</p>
    <p class="pt-1 mt-2 mx-0"> <i class="fa-solid fa-location-dot ps-2"></i>حي الملك فهد, الرياض, المملكة العربية السعودية</p>  
    </div>
    <div class="lang mt-1">
        <select class="form-select pointer text-white bg-transparent border-none border-0"> 
            <option class=" pointer primaryText">English</option>
            <option class=" pointer primaryText">العربية</option>
        </select>
    </div>
  
</header>
<nav class="navbar  rtl ms-5 ps-5 navbar-expand-lg bg-transparent" >
    <div class="container-fluid">
        <a class="navbar-brand ps-3 mt-3" ><img src="../../assets/images/Group 39357.png" width="80%">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item px-4">
            <a class="nav-link" routerLink="home" routerLinkActive="active">الرئيسية</a>
          </li>
          <li class="nav-item px-4 dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              من نحن
            </a>
            <ul class="dropdown-menu border-0">
              <li><a class="dropdown-item">عن الشركة </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"> فريق العمل</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"> تواصل معنا </a></li>

            </ul>
          </li>
          <li class="nav-item px-4 dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              البرامج 
            </a>
            <ul class="dropdown-menu border-0">
              <li><a class="dropdown-item"> إدارة الموارد البشرية </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"> الإدارة المالية </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"> إادارة المخزون  </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"> إدارة الإنتاج   </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"> إدارة المبيعات   </a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item"> إدارة العلاقات العامة   </a></li>

            </ul>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link" >الأسعار</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link" >المدونة</a>
          </li>
          <li class="nav-item px-4">
            <a class="nav-link" >الوظائف</a>
          </li>
         
        </ul>
        <button class="btn primaryBg text-white px-5 py-2">طلب الشراء </button>
      </div>
    </div>
  </nav>