
<header class="py-2 px-5 d-flex justify-content-between">
    <div class="info d-flex">
        <p class="pt-1 mt-2 ms-5 me-0 pe-3 ps-5"> <i class="fa-solid fa-phone ps-2"></i> 0507292725</p>
    <p class="pt-1 mt-2 mx-0"> <i class="fa-solid fa-location-dot ps-2"></i>حي الملك فهد, الرياض, المملكة العربية السعودية</p>  
    </div>
    <div class="lang mt-1">
        <select class="form-select pointer text-white bg-transparent border-none border-0"> 
            <option class=" pointer primaryText">English</option>
            <option class=" pointer primaryText">العربية</option>
        </select>
    </div>
  
</header>
<nav class="navbar  rtl ms-5 ps-5 navbar-expand-lg bg-transparent" >
    <div class="container-fluid">
        <a class="navbar-brand ps-3 mt-3" routerLink="home" ><img src="../../assets/images/Group 39357.png" width="80%">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarNavDropdown">
        <ul class="navbar-nav" *ngIf="navbarItems && navbarItems.length >0">
          <li class="nav-item px-4" >
            <a class="nav-link" [routerLink]="navbarItems[0].componentName" routerLinkActive="active">{{navbarItems[0].text}}</a>
          </li>
           <li class="nav-item px-4 dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{navbarItems[6].text}}
            </a>
            <ul class="dropdown-menu border-0" >
              <div class="item" *ngFor="let dropDownItem of navbarItems[1].nodes">
                  <li><a class="dropdown-item"  [routerLink]="dropDownItem.componentName"> {{dropDownItem.text}} </a></li>
              <li><hr class="dropdown-divider"></li>
              </div>
            
            </ul> 
          </li>
           <li class="nav-item px-4 dropdown">
            <a class="nav-link dropdown-toggle"   role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{navbarItems[7].text}}
            </a>
            <ul class="dropdown-menu border-0" >
              <div class="item" *ngFor="let dropDownItem of navbarItems[2].nodes">
                  <li><a class="dropdown-item"  [routerLink]="dropDownItem.componentName"> {{dropDownItem.text}} </a></li>
              <li><hr class="dropdown-divider"></li>
              </div>
            
            </ul> 
          </li> 
          <li class="nav-item px-4" >
            <a class="nav-link" [routerLink]="navbarItems[3].componentName" routerLinkActive="active">{{navbarItems[3].text}}</a>
          </li>
          <li class="nav-item px-4" >
            <a class="nav-link" [routerLink]="navbarItems[4].componentName" routerLinkActive="active">{{navbarItems[4].text}}</a>
          </li>
          <li class="nav-item px-4" >
            <a class="nav-link" [routerLink]="navbarItems[5].componentName" routerLinkActive="active">{{navbarItems[5].text}}</a>
          </li>
        </ul>
        <button class="btn primaryBg text-white px-5 py-2">طلب الشراء </button>
      </div>
    </div>
  </nav>